@import "reset";
@import "variable";
@import "mixin";

body{
    font-family: $font-family;
    font-size: $font-size-md;
}
#app{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

h2{
    font-size: $font-size-lg+12;
    font-weight: $font-bold;
    color:$info;
    margin-top:10px;
}
.formula{
    margin: 20px auto;
    color:$info;
    font-size: $font-size-lg;
    font-weight: $font-bold;
    padding: 0 15px;
}
.lang-form{
    padding: 0 15px;
    label{
        display: block;
        text-align: left;
        margin-top:10px; 
        color: $info;
        font-weight: $font-bold;
        font-size: $font-size-lg;
    }
    input{
        width: 100%;
        height: 44px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid $gray;
        font-size: 16px;
    }
}
.total{
    font-size: $font-size-lg+12;
    margin: 10px auto;
    color: $info;
}