html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

#app {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #17a2b8;
  margin-top: 10px;
}

.formula {
  margin: 20px auto;
  color: #17a2b8;
  font-size: 18px;
  font-weight: bold;
  padding: 0 15px;
}

.lang-form {
  padding: 0 15px;
}

.lang-form label {
  display: block;
  text-align: left;
  margin-top: 10px;
  color: #17a2b8;
  font-weight: bold;
  font-size: 18px;
}

.lang-form input {
  width: 100%;
  height: 44px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6c757d;
  font-size: 16px;
}

.total {
  font-size: 30px;
  margin: 10px auto;
  color: #17a2b8;
}
/*# sourceMappingURL=all.css.map */