<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>土地計算</title>
        <link rel="stylesheet" href="scss/all.css">
    </head>

    <body>
        <div id="app" >
            <h2>商五計算</h2>
            <div class="formula">（（ 容積 x 開發(20%) x 容移 x 機電空間(15%) x 小公設(5%) x 陽台(10%) ） + 屋凸 ） x 大公設(20%) = 坪效</div>
            <form class="lang-form">
                <label for="volume">容積</label>
                <input type="text" id="volume" v-model="volume">
                <label for="developer">開發(20%)</label>
                <input type="text" id="developer" v-model="developer">
                <label for="capacityShift">容移</label>
                <input type="text" id="capacityShift" v-model="capacityShift">
                <label for="electromechanical">機電空間(15%)</label>
                <input type="text" id="electromechanical" v-model="electromechanical">
                <label for="smallPublic">小公設(5%)</label>
                <input type="text" id="smallPublic" v-model="smallPublic">
                <label for="balcony">陽台(10%)</label>
                <input type="text" id="balcony" v-model="balcony">
                <label for="protruding">屋凸</label>
                <input type="text" id="protruding" v-model="protruding">
                <label for="bigPublic">大公設(20%)</label>
                <input type="text" id="bigPublic" v-model="bigPublic">
                <label for="landDecimal">小數點(坪效)</label>
                <input type="text" id="landDecimal" v-model="landDecimal">
                <label for="unitPrice">單價(萬)</label>
                <input type="text" v-model="unitPrice">
                <label for="unitPriceDecima">小數點(單價)</label>
                <input type="text" id="unitPriceDecima" v-model="unitPriceDecima">
            </form>
            <div class="total">坪效：{{businessFives}}</div>
            <div class="total">{{unitPriceTotal}}</div>
        </div>
        <script src="js/vue.min.js"></script>
        <script src="js/all.js"></script>
    </body>

</html>